				<div class="body_text">
					<p>
						August 2014: I have just updated some of my projects into Rails 4.1.4 and Ruby 2.1.2. The rest will follow soon. 
						The only problem is, Heroku only allows five projects for free. All the source are in my Github account (karitoy).
					</p>
					<p>
					Of the few books I've read on Ruby on Rails, I thought the best one was
					<i><a href="http://pragprog.com/book/rails2/agile-web-development-with-rails">Agile Web Development with 
					Rails</a></i> by Dave Thomas and David Heinemeier Hansson (yes, himself). If you want to learn 
					how to build an online store in	Ruby on Rails, get this book. 
					</p>
					<p>However, after reading and doing the 
					<a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails 3 Tutorial</a>, 
					I changed my mind. With this single book, I learned about Git, Github, Heroku, bundler, REST 
					routing and resources, and test-first coding and Rspec, all delivered so exquisitely simple by a 
					master teacher 
					(<a href="http://ruby.railstutorial.org/#author">Michael Hartl</a>). Trust a highly respected 
					teacher to present abstract ideas in the simplest way possible.
					</p>
					<p>
					I also like the application (<a href="#">Slideshow</a>) you get to develop in 
					<i><a href="http://www.oreillynet.com/catalog/rubyrails/">Rails: Up and Running</a></i>
					by Bruce Tate and Curt Hibbs. There are some cool AJAX there. Speaking of Hibbs, the first 
					tutorial I followed to get my first taste of Rails was his 
					<i><a href="http://www.onlamp.com/pub/a/onlamp/2006/12/14/revisiting-ruby-on-rails-revisited.html">
					Rolling with Ruby on Rails Revisited, part 1</a></i> and 
					<i><a href="http://www.onlamp.com/pub/a/onlamp/2007/01/05/revisiting-ruby-on-rails-revisited-2.html">
					part 2</a></i>. Bruce Tate's 
					<i><a href="http://www.oreilly.com/catalog/beyondjava/">Beyond Java</a></i> is where I 
					first came across and became intrigued with Rails.
					</p>
					<p>
					<i><a href="http://railsspace.com/">RailsSpace</a></i> by Michael Hartl (again) and Aurelius 
					Prochazka is one great book. If you want to learn more about Rails, especially ActiveRecord 
					(over and beyond has_and_belongs_to_many),	build a social networking site 
					(the <a href="#">RailsSpace</a> app).
					</p>
					<p>
					Perhaps you have heard of Charice, the little girl who became a Youtube singing sensation and 
					was invited to guest at Ellen Degeneres', Paul O'Grady's and Oprah's shows. I was doing the 
					<i>RailsSpace</i> project but the urge to develop a site for her became irresistible: she 
					keeps getting dragged to perform on Philippine TV shows at a moment's notice when she deserves 
					a full orchestra with a backup choir every time she performs. They cannot see a gem when it's 
					staring them in the face. Halfway through the book I realized what I'm working on could be the 
					groundwork for the site. <%= link_to 'ChariceSpace', 'http://charicespace.heroku.com' %> is the 
					result. I invite you to check it out to know more about Charice. 
					</p>
					<p>
					There are now a lot of Ruby on Rails 
					<a href="http://www.digitalmediaminute.com/article/1816/top-ruby-on-rails-tutorials">	tutorials</a> 
					online, so to those who are tardy to the party (like me) and feel reluctant about abandoning hard-earned 
					Java skills, there is no need to plunge headlong in reckless abandon. With the profusion of tutorials, 
					you can just dip your toes first to feel the water's warmth. Before you know it, you are already wading 
					waist-deep and soon you are floating effortlessly, carried by the soothing currents of Rails.
					</p>
					<p>
					I keep emailing myself whenever I hit a wall or achieve a breakthrough so I won't have to 
					repeat myself if I forgot what I just did. As my mail grew, I figured I better put them 
					in one convenient place together with the projects I am doing to learn Ruby on Rails. That 
					is the reason for this site. 
					</p>
					<p>
					These are learning projects; I have no intention of releasing these projects into production. The source 
					code for these projects are in my <%= link_to 'Github', 'http://github.com/karitoy' %> account.
					</p>
					<p>
					<i>This site is best viewed using <s>Firefox</s> Chrome; I tried testing my CSS code on other 
					browsers but it is in <s>Firefox</s> Chrome that I tested this site the most.</i>
					</p>
					<hr />
					I am in Vancouver, BC, Canada, with time on my hands, hence this site.
				</div>
